    .send-button{
      color: white;
      padding: 12px 20px;
      background-color: rgb(25,135,85);
      border-radius: 10px;
      margin-left: 10px;
      border: none;
      font-size: 15px;
      cursor: pointer;
    }
    .chat-input{
      padding: 12px 15px;
      border-radius: 10px;
      border-width:1px;
      font-size: 15px;
      flex-grow: 1;
    }
    .chat-input-container{
      display: flex;
      margin-bottom: 60px;

    }
    .clear-button{
      color: black;
      padding: 12px 20px;
      background-color: rgb(230, 229, 229);
      border-radius: 10px;
      margin-left: 10px;
      border: none;
      font-size: 15px;
      cursor: pointer;
    }